@media (min-width: 576px) { 
    #nextBtn{
        visibility: visible;
    }
 }

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    #nextBtn{
        visibility: visible;
    }
 }

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    #nextBtn{
        visibility: visible;
    }
 }

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    #nextBtn{
        visibility: hidden;
    }
 }

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { 
    #nextBtn{
        visibility: hidden;
    }
 }